<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/fuzzy.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("li.model").each(function(){
                $(this)
                    .mouseover(function() {
                        var text = $(this).text();
                        var find = $("li.model").filter(function() {
                            return $(this).text() === text;
                        });
                        if (find.length > 1) {
                            $("li.model").css("background-color", "white");
                            $("input").each(function(){
                                $(this).prop('checked', false);
                            });
                            find.each(function(){
                                $(this).find("input:first-child").prop('checked', true);
                                $(this).css("background-color", "yellow");
                            });
                        }
                    });
            });
        });
    </script>
</head>
<body>

{% if phones %}
<center>
<form action="/integration/phone/detail/" method="post">
    {% csrf_token %}
    <table class="table table-hover">
        <!--<tbody>-->
        <tr>
            {% for table in phones.keys %}
            <th>{{ table }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for table, data in phones.items %}
            <td>
                <ul>
                    {% for tup in data %}
                    <li class="model"><input type="checkbox" name="phone" value="{{ table }}###{{ tup.0 }}">
                        {{ tup.1 }}<!--<a href="#">[+]</a>-->
                    </li>
                    {% endfor %}
                </ul>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                {% with phones.values|first as data %}
                <div class="pagination">
                    <span class="step-links">
                        {% if data.has_previous %}
                            {% if prefix == '' %}
                            <a href="?page={{ data.previous_page_number }}&limit={{ limit }}">previous</a>
                            {% else %}
                            <a href="?page={{ data.previous_page_number }}&prefix={{ prefix }}&limit={{ limit }}">previous</a>
                            {% endif %}
                        {% endif %}

                        <span class="current">
                            Page {{ data.number }} of {{ data.paginator.num_pages }}.
                        </span>

                        {% if data.has_next %}
                            {% if prefix == '' %}
                            <a href="?page={{ data.next_page_number }}&limit={{ limit }}">next</a>
                            {% else %}
                            <a href="?page={{ data.next_page_number }}&prefix={{ prefix }}&limit={{ limit }}">next</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
                {% endwith %}
            </td>
        </tr>
        <!--</tbody>-->
    </table>
    <br/>
    <div>
        <input type="submit" value="Compare" class="btn btn-success btn-lg">
    </div>
</form>
    </center>
<!--<button id="btn1">Show Matching</button>-->
{% else %}
<p>No phones are available.</p>
{% endif %}

</body>
</html>